<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangsen.learn1.mapper.TbUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wangsen.learn1.entity.TbUser">
        <id column="u_id" property="uId" />
        <result column="u_name" property="uName" />
        <result column="u_account_name" property="uAccountName" />
        <result column="u_password" property="uPassword" />
        <result column="u_delete_status" property="uDeleteStatus" />
        <result column="u_locked" property="uLocked" />
        <result column="u_description" property="uDescription" />
        <result column="u_credentials_salt" property="uCredentialsSalt" />
        <result column="u_creator_name" property="uCreatorName" />
        <result column="u_create_time" property="uCreateTime" />
        <result column="u_update_time" property="uUpdateTime" />
        <result column="u_dept_id" property="uDeptId" />
        <result column="u_img" property="uImg" />
        <result column="u_email" property="uEmail" />
        <association property="tbRole" column="id" javaType="com.wangsen.learn1.entity.TbRole">
            <id column="r_id" property="rId" />
            <result column="r_name" property="rName" />
            <result column="r_key" property="rKey" />
            <result column="r_status" property="rStatus" />
            <result column="r_description" property="rDescription" />
            <result column="r_create_time" property="rCreateTime" />
            <result column="r_update_time" property="rUpdateTime" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        u_id, u_name, u_account_name, u_password, u_delete_status, u_locked, u_description, u_credentials_salt, u_creator_name, u_create_time, u_update_time, u_dept_id, u_img, u_email
    </sql>


    <select id="getAllUser" resultMap="BaseResultMap">
        SELECT u.u_id,
        u.u_name,
        u.u_account_name,
        u.u_password,
        u.u_delete_status,
        u.u_locked,
        u.u_description,
        u.u_credentials_salt,
        u.u_creator_name,
        u.u_create_time,
        u.u_update_time,
        u.u_dept_id,
        r.r_id,
        r.r_name,
        r.r_key,
        r.r_status,
        r.r_description,
        r.r_create_time,
        r.r_update_time,
        b.simplename as deptName
        FROM tb_user u LEFT JOIN tb_role_user ru ON u.u_id = ru.u_id LEFT JOIN tb_role r ON ru.r_id = r.r_id
        LEFT JOIN tb_dept b on u.u_dept_id = b.id
        <where>
            and u.u_dept_id in(select id from tb_dept where pids like '%${uDeptId},%' or id=#{uDeptId})
            <if test="uName != null and uName != ''">
                and u.u_name LIKE CONCAT('%',#{uName},'%' ) OR u.u_account_name LIKE CONCAT('%',#{uName},'%' )
            </if>
            and r.r_key!='administrator'
        </where>
    </select>


    <select id="selectUserRole" resultMap="BaseResultMap" parameterType="map">
        SELECT u.u_id,
        u.u_name,
        u.u_account_name,
        u.u_password,
        u.u_delete_status,
        u.u_locked,
        u.u_description,
        u.u_credentials_salt,
        u.u_creator_name,
        u.u_create_time,
        u.u_update_time,
        u.u_dept_id,
        r.r_id,
        r.r_name,
        r.r_key,
        r.r_status,
        r.r_description,
        r.r_create_time,
        r.r_update_time,
        u.u_img
        FROM tb_user u LEFT JOIN tb_role_user ru ON u.u_id = ru.u_id LEFT JOIN tb_role r ON ru.r_id = r.r_id
        <where>
            <if test="uId != null and uId != ''">
                u.u_id=#{uId}
            </if>
            <if test="uAccountName != null and uAccountName != ''">
                u.u_account_name=#{uAccountName}
            </if>
        </where>
    </select>


</mapper>
